body {color:Orange;background-color:yellow;font-size:18pt;font-family:Veranda;Geneva,Arial,Helvetica,sans-serif;}
div {background-color:white}
p {color:black;font-size:10pt;}
h1 {color:Blue;font-size:24px;text-align:center;}