html {margin:20px 50px 5px 50px; background-color: white; height:100%;}
body	 	{color:Black;
			background-color:#E0E0E0;
			font-size:12pt;
			font-family:Veranda,Geneva,Arial,Helvetica,sans-serif;text-align:center;
			min-height:100%;
			margin:0px; 
			padding:0px;
			
			}

div	 {;margin:0px auto;}
p {color:black;font-size:10pt;}
h1 {color:Black;font-size:44px;font-weight:bold;text-align:center;}
#nav li{display:inline; list-style-type:none; margin:60px; text-align: center;}
#nav { background-color:Orange;}
#resume{text-align: left; }
h2 {color:orange; text-align: Left;}
#printheader {display:none;}
	
	#wrap {
			margin: 0 auto;
			width: 1100px;
			padding: 10px;
			
	      }
	#header {
			color: #333;
			 width:1080px;
			 float: left;
			 padding: 10px;
			 border: 1px solid #ccc;
			 height: 100px;
			 
			 background: #BD9C8C;
			 }
			
	#left_sidebar {
			float:left;
			display:inline; 
			
			width:250px;
			color:orange;
			
		}
		
	#right_sidebar{
			float:right;
			display:inline; 
			
			width:250px;
			
			margin: 0px; 
			color:orange
		}

	#main {
			padding:5px 5px 5px 5px; /* MWC */
			
			width: 590px; /* MWC */
			display:inline; 
			float: left;
			text-align:left;
		}
	#footer { 
			color: #333;
			 width:1080px;
			 float: left;
			 
			
			 
			 
			 }
			 

			 